.col-25 {
  float: left;
  width: 27%;
  margin-top: 6px;
  display: block;
}
.col-75 {
  float: right;
  width: 70%;
  display: block;
}
input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(161, 157, 157);
  border-radius: 4px;
  font-size: 16px;
}

.addbtn {
  width: 20%;
  box-sizing: border-box;
  background-color: #081d79;
  border: 2px solid rgb(139, 135, 196);
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
}

.addbtn:hover {
  background-color: rgb(49, 52, 218);
  border: 2px solid rgb(32, 24, 100);
}
